{% extends 'base.html' %}
{% block content %}
<h3>Working with Graphql and Graphene Django</h3>
<p>This project is an API for a Movie website for creating mutations and querying the database schema.</p>
<p>It uses the GraphiQL Default view from Graphene Django to interact with the database.</p>
<p>Click  <a style="text-decoration: none; color: #ebebeb; background: darkcyan; padding: 10px; margin: 3px;" href=" {% url 'graphql' %} ">Here </a> to get started with the GraphiQL view </p>
{% endblock %}